@use '../styles/master' as *;

.home {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    @include layoutTile;

    .header {
        display: flex;
        flex: 0 0 100%;
        align-items: center;
        position: relative;
        justify-content: center;
        @include devider20;

        .title {
            @include padding(4, 7);
            text-align: center;
            width: 100%;
            @include typoXXLcaps;

            .icon {
                svg {
                    color: $colorPrimary;
                }
            }
        }
        .tooltip {
            position: absolute;
            right: space(1);
            top: space(1);
        }

        .close {
            position: absolute;
            top: space(3);
            left: space(3);

            svg {
                width: space(9);
                circle,
                line {
                    stroke: $fontColorLightSecondary;
                }
            }

            &:hover {
                cursor: pointer;
                svg {
                    circle,
                    line {
                        stroke: $fontColorLightPrimary;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 0 0 100%;
        width: 100%;
        @include padding(14, 10, 12);

        .subtitle {
            width: 100%;
            @include typoXXLcaps;
            color: $fontColorLightSecondary;
            text-align: center;
            @include margin(0, 0, 8);
        }

        .statusText {
            width: 100%;
            @include typoXXLcaps;
            color: $fontColorLightPrimary;
            text-align: center;
            @include margin(0);
        }

        .status {
            display: flex;
            flex: 0 0 100%;
            width: 100%;
            justify-content: center;
            @include margin(0, 0, 8);

            svg {
                align-self: center;
                width: rem-calc(80);
                height: rem-calc(80);
            }
        }

        .astronaut {
            display: flex;
            flex: 0 0 100%;
            justify-content: center;

            svg {
                width: rem-calc(200);
            }
        }

        .copy {
            width: 100%;
            text-align: center;
            margin: 0 auto space(2);
            max-width: rem-calc(440);
        }

        .button {
            display: flex;
            flex: 0 0 100%;
            justify-content: center;
            @include margin(8, 0, 0);
        }

        .data {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            @include margin(5, 0);

            .label {
                width: 50%;
                color: $fontColorLightSecondary;
                text-align: right;
                @include padding(0, 2, 2, 0);
            }

            .value {
                width: 50%;
                @include padding(0, 0, 2, 2);
            }
        }
    }
}
