#root {
  background: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: inherit;
}

footer {
  text-align: center;
  padding: 20px 20px 30px;
  font-size: 14px;

  span {
    font-weight: 700;
  }
}
